version: 2
jobs:
  build:
    docker:
      - image: centos:centos7
    steps:
      - run:
          name: git ssh
          command: |
              yum install -y git ssh wget
      - checkout
      - run:
          name: Greeting
          command: |
              git clone https://github.com/yrnkrn/zapcc.git llvm
              mkdir build
              cd build
              wget https://cmake.org/files/v3.11/cmake-3.11.4-Linux-x86_64.tar.gz
              tar -zxf cmake-3.11.4-Linux-x86_64.tar.gz
              yum install -y ninja-build
              cmake-3.11.4-Linux-x86_64/bin/cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_WARNINGS=OFF ../llvm
              ninja
      - run:
          name: Print the Current Time
          command: date
